:root {
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Nuit';
	src: url(/nuit/Nuit\ Bold.otf) url(/nuit/Nuit\ Bold\ Italic.otf);
}
@font-face {
	font-family: 'Courier';
	src: url(/courier-new/Courier\ New.ttf)
		url(/courier-new/Courier\ New\ Bold\ Italic\ font.ttf);
}
html {
	scroll-behavior: smooth;
}

body {
	background-image: url('/Assets/trama\ 496391.png');
	background-size: 2800px;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Nuit', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	max-width: 100% !important;
	overflow-x: hidden !important;
	overflow-y: hidden;
}

/* body::-webkit-scrollbar {
	width: 8px;
	background: #14213d6c;
	margin: 20px;
}

body::-webkit-scrollbar-thumb {
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 0.856) 20%,
		rgb(12, 46, 109) 80%
	);
	border-radius: 5px;
}

::selection {
	background-color: #d63384;
	color: #fff;
} */

/* .scrolled {
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 1) 0% rgba(21, 142, 123, 1) 100%
	);
	box-shadow: none;
	border-bottom: 2px solid #158e7b;
} */

.title {
	margin-top: 1%;
}
.mouse {
	position: relative;
	top: -40px;
	left: 20px;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 8vh;
	position: relative;
	top: 40px;
	color: #cbe2f3;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

span {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	bottom: 40px;
	font-size: 15vh;
	color: #cbe2f3;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.pc {
	display: flex;
	position: relative;
	bottom: 190px;
}

.whatsApp {
	position: absolute;
	top: 73%;
	left: 15%;
	font-size: 10px;
	font-family: 'Nuit';
	font-style: normal;
	font-weight: 600;
}
.text-content {
	float: left;
	padding: 130px;
	text-align: left;
}

h3 {
	color: #0c1d36;
	text-shadow: 2px 2px 4px rgb(203, 226, 243, 0.7);
	margin-left: 3%;
	font-size: 38px;
	font-family: 'Nuit';
	font-style: normal;
	font-weight: 700;
	text-align: justify;
}

p {
	color: #cbe2f3;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
	margin: 3%;
	margin-top: -3%;
	font-size: 18px;
	font-family: 'Courier';
	font-style: normal;
	font-weight: 600;
	text-align: justify;
}
